<div class= col-sm-6>
  <h1><%= @task.title %></h1>

  <p><%= @task.details %></p>

  <%= "Task completed? #{ @task.completed ? "[YES]" : "[NO]" }" %>

  <!-- link to tasks list -->

  <div>
    <!-- link to tasks list -->
    <%= link_to "Back to list", tasks_path, class: "btn btn-dark" %>

    <!-- link to edit -->
    <%= link_to "Edit", edit_task_path, class: "btn btn-primary" %>

    <!-- link to delete -->
    <%= link_to "Delete",  task_path,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>
